.ripple-bg-teal-500 {
    background-color: #38b2ac;
    background-position: center;
    transition: background 0.8s;
    outline: none !important;
}

.ripple-bg-teal-500:hover {
    background: #2c7a7b radial-gradient(circle, transparent 1%, #38b2ac 1%)
        center/15000%;
}

.ripple-bg-teal-500:active {
    background-color: #38b2ac;
    background-size: 100%;
    transition: background 0s;
}

/** chat **/
html::-webkit-scrollbar {
    width: 0.2rem;
}

html::-webkit-scrollbar-track {
    background: #2d3748;
}

html::-webkit-scrollbar-thumb {
    background: #38b2ac;
    border-radius: 1em;
    height: 20px !important;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.msg:last-of-type {
    margin: 0;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
}
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}
.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
    margin-left: 10px;
}

.right-msg {
    flex-direction: row-reverse;
    margin-right: 10px;
}
.right-msg .msg-bubble {
    border-bottom-right-radius: 0;
}
