.ripple-bg-teal-500 {
    background-color: #38b2ac;
    background-position: center;
    transition: background 0.8s;
    outline: none !important;
}

.ripple-bg-teal-500:hover {
    background: #2c7a7b radial-gradient(circle, transparent 1%, #38b2ac 1%)
        center/15000%;
}

.ripple-bg-teal-500:active {
    background-color: #38b2ac;
    background-size: 100%;
    transition: background 0s;
}

/** chat **/
input {
    padding: 16px;
    font-size: 1.3em;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.chat-list {
    padding: 0;
}
.chat-list li {
    margin: 16px 0;
    list-style-type: none;
}
.chat-list .name {
    color: #006aee;
    font-size: 1.4em;
    font-weight: bold;
}
.chat-list .mssg {
    font-size: 1.2em;
    margin-top: 4px;
}
